<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bhoomiweb/admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$1 [PT,L]
</IfModule>
Options -Indexes