.topbar-title{
        text-align: center;
    font-weight: 900;
    color: #ffffff;
    font-size: 50px;
    word-spacing: 10px;
    font-family: 'ITC Edwardian Script';

}
 .menu-bar .logo {
  background-image:none !important;
  float: left;
  height: 300px;
  margin: -23px 0 0 !important;
  position: absolute;
  top: -110px;
  width: 320px;
  visibility: visible;
}


 .menu-bar1 .logo {
  background-image:none !important;
  float: left;
  height: 300px;
  margin: 23px 0 0 !important;
  position: absolute;
  top: -110px;
  width: 320px;
  visibility: visible;
}


 .sticky-wrapper .menu-bar {
  top: 0;
}
.logo img {
   /* bottom:30px;
    left: 43px;*/
    position: absolute;
    width: 197px;
    z-index: 0;
}

.logo img1 {
   bottom:30px;
    left: 43px;
    position: absolute;
    width: 197px;
    z-index: 0;
}


#top-nav a:hover::after {
  width: 100%;
}
	.menu-bar .main-nav ul li a:hover {
  color: #dea720;
}

 
.successBox {
  padding-bottom: 60px;
}
.pad_left_0{
	padding-left:0px !important;
}
 .rotator > img {
  width: 100%;
  left: 0;
  bottom: 0;
  position:relative;

	 
	 -ms-animation-name: rotate;
    -ms-animation-duration:30s;
    -ms-animation-iteration-count: infinite;
	 
	 -webkit-animation-name: rotate;
    -webkit-animation-duration:30s;
    -webkit-animation-iteration-count: infinite;
	 
  animation-name: rotate;
    animation-duration:30s;
    animation-iteration-count: infinite;
	 
	 
}

 .rotator1 > img {
  width:80%;
  left: 0;
  bottom:-90px;
  position:relative;

	 
	 -ms-animation-name: rotate;
    -ms-animation-duration:30s;
    -ms-animation-iteration-count: infinite;
	 
	 -webkit-animation-name: rotate;
    -webkit-animation-duration:30s;
    -webkit-animation-iteration-count: infinite;
	 
  animation-name: rotate;
    animation-duration:30s;
    animation-iteration-count: infinite;
	 
	 
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate {
    from  {-webkit-transform:rotate(0deg);}
    to  {-webkit-transform:rotate(180deg);}
}
@-moz-keyframes rotate {
    from  {-moz-transform:rotate(0deg);}
    to  {-moz-transform:rotate(180deg);}
}
@-ms-keyframes rotate {
    from  {-ms-transform:rotate(0deg);}
    to  {-ms-transform:rotate(180deg);}
}

